<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts <  0}">
  <div class="d-flex w-100 justify-content-between">
    <h2>{{ postTitle}}</h2>
    <small>{{ postCreatedAt | date: 'short' }}</small>
  </div>
  <p>{{ postContent }}</p>
  <button type="button" class="btn btn-success mr-2" (click)="postLoveIts = postLoveIts + 1">Love it!</button>
  <button type="button" class="btn btn-danger" (click)="postLoveIts = postLoveIts - 1">Don't love it!</button>
</li>
